.header-main{

    width: 100%;
    border: 1px solid gray;
    background-color: aqua;
    display: flex;
    justify-content: space-between;
    font-style: 25px;
}

.fruit-card{
    font-size: 25px;
    font-style: calibari;
}