.main-page{

    width: 100%;
    border: 1px solid rgb(179, 189, 187);
    display: flex;
    background-color:darkgray;
}

.width20{
        width: 30%;
        border: 1px solid  rgb(189, 179, 179);
        background-color: rgb(13, 223, 13);

}

.width70{

        width: 70%;
        margin-left: 20%;
        border: 1px solid  rgb(189, 179, 179);
        background-color: rgb(235, 228, 9);
}
